<h1>Index</h1>

  <%= will_paginate @users %>

  <% @users.each do |user| %>
 	<div id="split_users">
 	 <%= render  user %>
 	 </div>
  		<br />
 	<br />
  <% end %>  
  
  <%= will_paginate @users %>
  
